.property-card {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid red;
  margin: 10px;
}
.property-card .property-card-header {
  height: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid red;
}
.property-card .property-card-header .property-card-header-left {
  border-top-left-radius: 5px;
  float: left;
  width: 70%;
  padding: 3px;
}
.property-card .property-card-header .property-card-header-left img {
  height: 90%;
}
.property-card .property-card-body {
  height: 120px;
  position: relative;
}
.property-card .property-card-body img {
  width: 100%;
  max-height: 100%;
}
.property-card .property-card-body button {
  position: absolute;
  bottom: 20px;
  right: 43px;
  display: none;
}
.property-card .property-card-footer {
  height: 40px;
  border-top: 1px solid red;
}
.property-card .property-card-footer p {
  text-align: center;
  margin-top: 10px;
}
.property-card .property-card-body:hover button {
  display: block;
}
.property-card .property-card-body:hover img {
  opacity: 0.5;
}
#property-panel #property-panel-header {
  margin-bottom: 25px;
}
#property-panel #property-panel-header h3 {
  text-align: center;
}
#property-panel #property-panel-left {
  float: left;
  width: 45%;
}
#property-panel #property-panel-left #property-panel-left-left {
  border: dashed 3px gray;
  float: right;
  border-radius: 10px;
}
#property-panel #property-panel-left #property-panel-left-left h4 {
  text-align: center;
}
#property-panel #property-panel-right {
  float: right;
  width: 45%;
}
#property-panel #property-panel-right #property-panel-right-right {
  border: dashed 3px gray;
  float: left;
  border-radius: 10px;
}
#property-panel #property-panel-right #property-panel-right-right h4 {
  text-align: center;
}
